<% include ../partials/boilerplate %>
<main class="auth-hero-background">
  <h1>Please Log In</h1>
  <div class="form-container login-form">
    <form method="POST" action="/auth/login">
      <input name="username" type="text" placeholder="Username" required/>
      <input name="password" type="password" placeholder="Password" required/>
      <input type="submit" value="Log In">
    </form>
  </div>
  <a href="/auth/register"><h3>Haven't signed up?</h3></a>
</main>
<% include ../partials/end %>
