<% include ../partials/boilerplate %>
<main class="auth-hero-background">
  <h1>Register Below</h1>
  <div class="form-container login-form">
    <form method="POST" action="/auth/register">
      <input name="username" type="text" placeholder="Username" required />
      <input name="email" type="email" placeholder="Email Address" required />
      <input name="password" type="password" placeholder="Password" required />
      <input name="firstname" type="text" placeholder="First Name" required />
      <input name="lastname" type="text" placeholder="Last Name" required />
      <input name="zip" type="number" placeholder="Zip Code" required />
      <input type="submit" value="Sign Up">
    </form>
  </div>
</main>
<% include ../partials/end %>
