
<header>
  <div class="hero-container">
    <img src="/images/wplogo-long.png" alt="">
  </div>
  <nav>
    <ul class="nav-ul">
      <li><a href="/parks">Parks</a></li>
      <li><a href="/passport">My Passport</a></li>
      <li><a href="/user">Dashboard</a></li>
    </ul>
  </nav>
</header>
