
<header>
  <div class="hero-container">
    <img class="nav-logo">
  </div>
  <nav>
    <ul class="nav-ul">
      <li><a href="/passport">My Passport</a></li>
      <li><a href="/parks">Add Parks</a></li>
      <li><a href="/user">Dashboard</a></li>
    </ul>
  </nav>
</header>
