<% include ../partials/boilerplate.ejs %>
<main>
<% parks.forEach((park) => { %>
  <h4><%= park.name %></h4>
  <form method="POST" action="/passport">
    <input type="hidden" name="parkid" value="<%= park.id %>" />
    <input type="submit" value="Add to Passport">
  </form>
<% }) %>
</main>
<% include ../partials/end.ejs %>
