<% include ../partials/boilerplate %>
<main class="content-main">

<div class="form-container">
  <h3>Search by name or address</h3>
  <form method="POST" action="/parks/search">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="address" placeholder="Address" />
    <input type="submit" value="Search">
  </form>
</div>

<div class="parks-container">
  <% parks.forEach((park) => { %>
    <div class="park">
      <h4><%= park.name %></h4>
      <form method="POST" action="/passport">
        <input type="hidden" name="parkid" value="<%= park.id %>" />
        <input type="submit" value="Add to Passport">
      </form>
    </div>
  <% }) %>
</div>
</main>
<% include ../partials/end %>
