<% include ./partials/boilerplate %>
<main class="home-hero-background">
  <h1 id="first-line" class="invisible">Let's go.</h1>
  <h1 id="second-line" class="invisible">Out there.</h1>
  <script src="./script/jquery.js"></script>
  <script src="./script/script.js"></script>
</main>
<% include ./partials/end %>
