<% include ../partials/boilerplate.ejs %>
<main class="content-main">
<div class="parks-container">
  <% passport.forEach((userpark) => { %>
    <div class="park">
      <a href="/passport/<%= userpark.passport_id %>"><h4><%= userpark.name %></h4></a>
    </div>
  <% }) %>
</div>
</main>
<% include ../partials/end.ejs %>

