<% include ../partials/boilerplate.ejs %>

<% passport.forEach((userpark) => { %>
<% console.log(userpark) %>
  <h4><%= userpark.name %></h4>
  <form method="POST" action="/passport/<%= userpark.id %>?_method=DELETE">
    <input type="hidden" name="parkid" value="<%= userpark.id %>" />
    <input type="submit" value="Remove">
  </form>
<% }) %>

<% include ../partials/end.ejs %>

