<% include ../partials/boilerplate.ejs %>

  <h4><%= userpark.name %></h4>
  <form method="POST" action="/passport/<%= userpark.passport_id %>?_method=DELETE">
    <input type="hidden" name="parkid" value="<%= userpark.passport_id %>" />
    <input type="submit" value="Remove">
  </form>


<% include ../partials/end.ejs %>
