<% include ../partials/boilerplate.ejs %>
<main>
<div class="parks-container">
  <% passport.forEach((userpark) => { %>
    <a href="/passport/<%= userpark.passport_id %>"><div class="park">
      <h4><%= userpark.name %></h4>
      <p><%= userpark.description %></p>
    </div></a>
  <% }) %>
</div>
</main>
<% include ../partials/end.ejs %>

