body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
  background: url('https://www.nationalparks.org/sites/default/files/yosemite-merced.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

main h1 {
  font-family: 'Patua One', sans-serif;
  font-size: 5em;
}

header, footer {
  flex: 0;
}

header {
  background-color: #2D4C1F;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #2D4C1F;
  padding: 15px 0;
  color: white;
}

header img {
  height: 80px;
  width: auto;
}

header a {
  text-decoration: none;
  color: white;
  font-family: 'Patua One', sans-serif;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  padding: 5px;
}
